html, body {
  font-family: Helvetica;
  font-size: 22px;
  font-weight: bold;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  max-width: 1200px;
}

body {
  height:100%;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

/* header */

header {
  height: 3.14rem;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  align-items: center;
  overflow: hidden;
  top: 0;
  z-index: 1;
  }

header img {
  padding-left: 0.45rem;
  height: 2.27rem;
  width: auto;
  display: inline-block;
  position: relative;
}

nav {
  text-align: right;
  flex: 1;
}

nav span {
  display: inline-block;
  padding: 0.63rem 0.73rem;
}
nav a {
  text-decoration: underline;
  color: seashell;
}

a:hover {
  color: red;
}

/* main */

main {
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
}

.wrapper {
  width: 1200px;
  margin: auto;
}


/* section mission */

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 31.82rem;
  margin-top: 3.14rem;
  margin: auto;
  line-height: normal;
  }

#mission .content {
  width: 100%;
  margin: auto;
  background-color: black;
}

/* section featured tea */

#featuredtea {
  margin: auto;
  padding-top: 3rem;
  width: 84%;
  height: 31.8rem;
  }

  .clearfix {
    clear: both;
  }

.flex-container .items {
  overflow: hidden;
  margin-top: auto;

  }

.items img {
  width: 300px;
  display: block;
  height: auto;
  max-width: 100%;
  }

figure {
  padding: 1.7% 3.3%;
  width: 26%;
  margin: 0;
  float: left;
  }


figcaption {
  padding-top: 3.3%;
  padding-bottom: 10%;
  text-align: center;
}

/* section locations */

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 22.7rem;
  padding-top: 3rem;
  }

#locations .flex-container {
  margin: auto;
  width: 100%;
}

.flex-container .locations {
  padding-top: 1%;
}

.location {
  background-color: black;
  margin: auto 1.67%;
  padding: 1.67% 1.25%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
  }

/* contact section */

#contact {
  margin: auto;
  height: 9rem;
  width: 100%;
  padding-bottom: 0.4%;
  }

/* footer */

footer {
  width: 100%;
  text-align: left;
  padding-left: 1.67%;
  }

/* media queries */
/* IPhone */

@media only screen and (max-width: 480px), (orientation: portrait) {
  #mission {
    width: 270px;
    margin: auto;
    height: 400px;
    margin-top: 68px;
    }
    .content {
      text-align: center;
      opacity: 0.7;
      margin: 0;
    }
}

/* media queries not right*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .flex-container .items {
    width: 50%;
    height: auto;
  }
  .content, #featuredtea {
    display: flex;
    flex-flow: row;
    width: 95%;
    height: auto;
  }
}

@media only screen and (max-resolution: 100dpi) and (max-width: 480px)  {
  h1 h2 {
    font-size: 16px;
  }
  h3 h4 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .content, #featuredtea {
    width: 50%;
    height: auto;
  }

  #featuredtea {
    text-align: center;
  }
}

@media only screen and (max-width: 470px) {
  #mission .content {
    font-size: 1rem;
  }
  figure {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
